<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Flights</title>
</head>

<body>
	<h3>Daftar Flight</h3>
	<table border="1">
		<tr>
			<th>Flight Number</th>
			<th>Nama Pilot</th>
			<th>Pilot License Number</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Time</th>
			<th>Actions</th>
		</tr>
		<th:block th:each="flight : ${flights}">
			<tr>
				<td th:text="${flight.flightNumber}"></td>
				<td th:text="${flight.pilot.name}"></td>
				<td th:text="${flight.pilot.licenseNumber}"></td>
				<td th:text="${flight.origin}"></td>
				<td th:text="${flight.destination}"></td>
				<td th:text="${flight.time}"></td>
				<td>
					<a th:href="@{'/flight/delete/' + ${flight.flightNumber}}">Delete</a>
					<a th:href="@{'/flight/update/' + ${flight.flightNumber}}">Update</a>
				</td>
			</tr>
		</th:block>
	</table><br>
</body>

</html>